@using System.Data

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Comment</title>
    <link rel="stylesheet" type="text/css" href="../content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../content/comment.css">
</head>

<body>
    @{ 
        DataTable dt = (DataTable)ViewData["dtTopic"];
        DataTable dt2 = (DataTable)ViewData["dtUser"];
        DataTable dt3 = (DataTable)ViewData["dtMe"];
    }
    <header class="uni-site-header">
        <div class="header-location">
            <div class="header-logo">
                <a href="/Home/Home" class="logo-a-lable"></a>
            </div>
            <nav class="header-navigation">
                <ul>
                    <li class="navigation-li-lable">
                        <a href="Map.html" class="navigation-a-lable">高校地图</a>
                    </li>
                    <li class="navigation-li-lable">
                        <a href="/Home/Home" class="navigation-a-lable">加入大家</a>
                    </li>
                </ul>
            </nav>
            <div class="header-searchbox">
                <input type="text" class="header-search" placeholder="搜索其他帖子或者关键字">
                <input type="submit" class="header-submit" value="">
            </div>
        </div>
    </header>
    <main class="comment-site-main">
        <div class="main-up">
            <div class="up-background active"></div>
            <div class="up-title active">
                <h1 class="title-h1-lable">校园交流区</h1>
                <p class="title-p-lable active">若是您是在校大学生，可在这分享您在大学的点点滴滴。若您是准大学生，可以在这了解心仪大学前辈们的生活。</p>
            </div>
        </div>
        <div class="main-left">
            <div class="left-search">
                <input type="text" class="select-search" placeholder="搜索城市">
            </div>
            <div class="left-select">
                <ul>
                    <li class="select-li-lable">
                        <div class="select-province">
                            <span class="province-name-ch">江西省</span>
                            <span class="province-name-en">JiangXi</span>
                            <div class="province-icon"></div>
                        </div>
                        <div class="select-school">
                            <div class="school-name">江西师范大学 - 瑶湖</div>
                            <div class="school-name">江西师范大学 - 老校</div>
                            <div class="school-name">南昌大学 - 前湖</div>
                            <div class="school-name">南昌大学 - 老校</div>
                            <div class="school-name">华东交通大学</div>
                            <div class="school-name">财经大学</div>
                        </div>
                    </li>
                    <li class="select-li-lable">
                        <div class="select-province">
                            <span class="province-name-ch">四川省</span>
                            <span class="province-name-en">SiChuan</span>
                            <div class="province-icon"></div>
                        </div>
                        <div class="select-school">
                            <div class="school-name">四川大学</div>
                            <div class="school-name">西南交通大学</div>
                            <div class="school-name">西南财经大学</div>
                        </div>
                    </li>
                    <li class="select-li-lable">
                        <div class="select-province">
                            <span class="province-name-ch">浙江省</span>
                            <span class="province-name-en">ZheJiang</span>
                            <div class="province-icon"></div>
                        </div>
                        <div class="select-school">
                            <div class="school-name">浙江大学</div>
                            <div class="school-name">浙江师范大学</div>
                            <div class="school-name">宁波大学</div>
                        </div>
                    </li>
                    <li class="select-li-lable">
                        <div class="select-province">
                            <span class="province-name-ch">广东省</span>
                            <span class="province-name-en">GuangDong</span>
                            <div class="province-icon"></div>
                        </div>
                        <div class="select-school">
                            <div class="school-name">中山大学</div>
                            <div class="school-name">暨南大学</div>
                            <div class="school-name">深圳大学</div>
                        </div>
                    </li>
                    <li class="select-li-lable">
                        <div class="select-province">
                            <span class="province-name-ch">湖南省</span>
                            <span class="province-name-en">HuNan</span>
                            <div class="province-icon"></div>
                        </div>
                        <div class="select-school">
                            <div class="school-name">中南大学</div>
                            <div class="school-name">湖南大学</div>
                            <div class="school-name">湖南师范大学</div>
                        </div>
                    </li>
                    <li class="select-li-lable">
                        <div class="select-province">
                            <span class="province-name-ch">湖北省</span>
                            <span class="province-name-en">HuBei</span>
                            <div class="province-icon"></div>
                        </div>
                        <div class="select-school">
                            <div class="school-name">武汉大学</div>
                            <div class="school-name">华中师范大学</div>
                            <div class="school-name">湖北大学</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-right">
            <div class="right-toggle">
                <ul>
                    <li class="toggle-li-lable"><span class="toggle-span-lable active">最新发布</span></li>
                    <li class="toggle-li-lable"><span class="toggle-span-lable">热门帖子</span></li>
                @{
                    if (Session["useraccount"] != null)
                    {
                    <li class="toggle-li-lable"><span class="toggle-post">发布帖子</span></li>
                    }
                    else
                    {
                    <li class="toggle-li-lable"><span class="toggle-login">登录注册</span></li>
                    }
                }   
                </ul>
            </div>
            <div class="right-posts">
                <ul>
                    @{
                        for (var i = 0; i < dt.Rows.Count; i++)
                        {
                            <li class="posts-li-lable">
                                <div class="posts-head">
                                    <img src="@dt2.Rows[i]["UserFace"]" alt="" class="head-img-lable">
                                </div>
                                <div class="posts-summary">
                                    <a href="/Comment/Topic?id=@dt.Rows[i]["TopicId"]" class="summary-title">@dt.Rows[i]["TopicTitle"]</a>
                                    <div class="summary-meta">
                                        <div class="meta-autor">
                                            <div class="meta-username">@dt2.Rows[i]["UserName"]</div>
                                            <time class="meta-time">@dt.Rows[i]["TopicTime"]</time>
                                        </div>
                                        <div class="meta-situation">
                                            <div class="situation-answer">100</div>
                                            <div class="situation-view">3</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="main-suspension" data-mode="user">
            <ul>
                @{
                    if (Session["useraccount"] != null)
                    {
                        <li class="suspension-li-lable">
                            <div class="suspension-userhead">
                                <img src="../img/university-head.jpg" alt="" class="userhead-img-lable">
                            </div>
                            <div class="suspension-userpop-forhover">
                                <div class="suspension-userpop">
                                    <div class="userpop-userinfo">
                                        <a href="Space/Index?id=@dt3.Rows[0]["UserId"]">
                                            <img src="@dt3.Rows[0]["UserFace"]" alt="" class="userinfo-img-lable">
                                        </a>
                                        <div class="userinfo-div-lable">
                                            <span class="userinfo-span-lable">
                                                <a href="Space/Index?id=@dt3.Rows[0]["UserId"]">@dt3.Rows[0]["UserName"]</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="suspension-li-lable">
                            <div class="suspension-menu">
                                <div class="menu-div-lable"></div>
                            </div>
                            <div class="suspension-menupop-forhover">
                                <div class="suspension-menupop">
                                    <ul class="menupop-visitor">
                                        <li class="menupop-li-lable"></li>
                                        <li class="menupop-li-lable"></li>
                                    </ul>
                                    <ul class="menupop-user">
                                        <li class="menupop-li-lable">
                                            <a href="Space/Index?id=@dt3.Rows[0]["UserId"]" class="menupop-a-lable">个人中心</a>
                                            <div class="menupop-div-lable"></div>
                                        </li>
                                        <li class="menupop-li-lable">
                                            <a href="Space/Index?id=@dt3.Rows[0]["UserId"]" class="menupop-a-lable">编辑资料</a>
                                            <div class="menupop-div-lable"></div>
                                        </li>
                                        <li class="menupop-li-lable">
                                            <a href="Space/Index?id=@dt3.Rows[0]["UserId"]" class="menupop-a-lable">回复我的</a>
                                            <div class="menupop-div-lable"></div>
                                        </li>
                                        <li class="menupop-li-lable">
                                            <a href="Space/Index?id=@dt3.Rows[0]["UserId"]" class="menupop-a-lable">退出登录</a>
                                            <div class="menupop-div-lable"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li> 
                        <li class="suspension-li-lable">
                                <div class="suspension-backtop"></div>
                        </li>
                    }
                    else
                    {
                        <li class="suspension-li-lable">
                            <div class="suspension-backtop"></div>
                        </li>
                    }
                }
               
            </ul>
        </div>
    </main>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/comment.js" type="text/javascript"></script>
</body>

</html>
